@use "variables" as v;

body,
html {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: v.$circle-size;
  height: v.$circle-size;
  color: white;
  margin: v.$circle-margin;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  // Red Light
  &.red-light {
    background-color: #ffffff; // Default state

    &.active-red {
      background-color: #cc3232; // Active state
    }

    &:hover {
      background-color: #ff6666; // Hover state
    }
  }

  // Orange Light
  &.orange-light {
    background-color: #ffffff; // Default state

    &.active-orange {
      background-color: #e7b416; // Active state
    }

    &:hover {
      background-color: #ffcc66; // Hover state
    }
  }

  // Green Light
  &.green-light {
    background-color: #ffffff; // Default state

    &.active-green {
      background-color: #2dc937; // Active state
    }

    &:hover {
      background-color: #66ff66; // Hover state
    }
  }
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto;
  padding-top: 20px; /* Adds padding above the traffic light */
}

.container {
  background-color: v.$bg-color;
  width: v.$container-width;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.pole {
  width: 2rem;
  height: 10rem;
  background-color: v.$bg-color;
  border-radius: 0rem;
}

@media (max-width: 768px) {
  #redLightAlert {
    width: 95%;
  }
}
